@font-face {
  font-family: "LobsterRegular";
  src: url("../fonts/lobsterRegular/lobsterRegular.eot");
  src: url("../fonts/lobsterRegular/lobsterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lobsterRegular/lobsterRegular.woff") format("woff"), url("../fonts/lobsterRegular/lobsterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; 
}

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute; 
}

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute; }
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #44c0c2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  left: 0; }

.toggle-mnu {
  float: right;
  position: absolute;
  right: 35px;
  top: 0;
  text-align: center;
  line-height: 48px;
  display: none;
  width: 28px;
  height: 28px;
  margin-top: 14px;
  cursor: pointer; }
  .toggle-mnu span {
    position: relative;
    display: block; }
    .toggle-mnu span:after {
      top: 18px; }
    .toggle-mnu span:before {
      top: 9px; }
  .toggle-mnu.on span {
    background-color: transparent; }
    .toggle-mnu.on span:before {
      -webkit-transform: rotate(45deg) translate(-1px, 0px);
          -ms-transform: rotate(45deg) translate(-1px, 0px);
              transform: rotate(45deg) translate(-1px, 0px); }
    .toggle-mnu.on span:after {
      -webkit-transform: rotate(-45deg) translate(6px, -7px);
          -ms-transform: rotate(-45deg) translate(6px, -7px);
              transform: rotate(-45deg) translate(6px, -7px); }


*{
	margin: 0;
	padding: 0;
}

.content{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 10px;
	overflow: hidden;
}

a{
	text-decoration: none;
}

a:hover, a {
  text-decoration: inherit;
  color: inherit; 
}


body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	min-width: 320px;
	color: #484c55;
	text-align: center;
}

.logo h1{
	font-family: 'LobsterRegular';
	color: #49cbcd;
	font-size: 43px;
	font-weight: 400;
	line-height: 24px;
	float: left;
	padding: 40px 0;
}

header nav{
	float: right;
}

header nav li{
	display: inline-block;
}

header nav a{
	padding: 40px 20px;
	display: block;
	line-height: 24px;
	color: #484c55;
}

header nav a.active, a:hover{
	border-bottom: 3px solid #49cbcd;
	color: #49cbcd;

}
.slide{
	position: relative;
	color: #fff;
	
}

.slide img{
	width: 100%;
	display: block;
}

.slide .text_slider{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translate(0px, -50%);
}

.slide .text_slider h2{
	text-shadow: 0.1px 1px 0 rgba(0, 0, 0, 0.16);
	font-size: 62px;
	margin-bottom: 50px;
}

.slide .text_slider p{
	font-size: 23px;
	max-width: 390px;
	margin: 0 auto;
	margin-bottom: 60px;
	line-height: 37px;
}

.button_slider{
	font-size: 23px;
	line-height: 23px;
	padding: 20px 40px;
	border-radius: 5px;
	border: 3px solid #fff;
	color: #fff;
	cursor: pointer;
	background-color: transparent;
}









@media(max-width: 980px){
		.slider{
			width: 100%;
		}

		.slide .text_slider h2{
			font-size: 35px;
			margin-bottom: 0;
	}

		.slide .text_slider p{
			font-size: 17px;
			margin-bottom: 0;
	}
		.button_slider{
			padding: 7px 15px;
		}
	
}



@media (max-width: 640px) {
	header nav{
		width: 100%;
		display: none;
	}

	header nav li{
		display: block;
		padding: 10px 40px;
	}

    header nav li a{
    	border: 3px solid transparent;
    }

    .toggle-mnu{
    	display: block;
    }
}

